[Unit]
Description=OCS additional volumes mounter

[Service]
ExecStart=/usr/sbin/oc-add-extra-volumes
ExecStop=/usr/sbin/oc-remove-extra-volumes
Type=forking

[Install]
WantedBy=basic.target
