[Unit]
Description=OCS fetch kernel modules from OCS mirror
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/local/sbin/oc-sync-kernel-modules
Type=oneshot

[Install]
WantedBy=multi-user.target
